
@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<!-- start our teastimonial Section -->
<section id="tstm_sec" style="padding:120px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all_tstm">
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>what people say?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- jhon deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Clien Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- shura deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Awesome Support KCell Solutions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- kumara deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Theme Feature great</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- dhera deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Non conflict</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- jhon deo</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End our teastimonial Section -->
<!-- start Latest post Section -->
<section id="lts_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Our Services</h1>
                    <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="lts_pst">
                    <img src="http://cdn.shopify.com/s/files/1/1039/5466/files/blog-img2.jpg?10828543012475550494" alt="" />
                    <h2>@Localizer["SMS_Dispatching"]</h2>
                    <p>Nullam metus arcu, pharetra eu tempor vel, consectetur nec metus. Praesent malesuada, purus et euismod rutrum, augue nisi facilisis diam, vitae auctor nisl libero nec eros. Vivamus vitae pulvinar augue. Nulla facilisi. Quisque rutrum ante interdum</p>
                    @* <a href="single.html">Read more <i class="fa fa-long-arrow-right"></i></a>*@
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="lts_pst">
                    <img src="http://cdn.shopify.com/s/files/1/1039/5466/files/blog-img3.jpg?10828543012475550494" alt="" />
                    <h2>@Localizer["Car_Tracking"]</h2>
                    <p>Nullam metus arcu, pharetra eu tempor vel, consectetur nec metus. Praesent malesuada, purus et euismod rutrum, augue nisi facilisis diam, vitae auctor nisl libero nec eros. Vivamus vitae pulvinar augue. Nulla facilisi. Quisque rutrum ante interdum</p>
                    @* <a href="">Read more <i class="fa fa-long-arrow-right"></i></a>*@
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="lts_pst">
                    <img src="http://cdn.shopify.com/s/files/1/1039/5466/files/blog-img1.jpg?10828543012475550494" alt="" />
                    <h2>@Localizer["Software"]</h2>
                    <p>Nullam metus arcu, pharetra eu tempor vel, consectetur nec metus. Praesent malesuada, purus et euismod rutrum, augue nisi facilisis diam, vitae auctor nisl libero nec eros. Vivamus vitae pulvinar augue. Nulla facilisi. Quisque rutrum ante interdum</p>
                    @* <a href="">Read more <i class="fa fa-long-arrow-right"></i></a>*@
                </div>
            </div>
            @*
                <div class="post_btn">
                    <div class="hover_effect_btn" id="hover_effect_btn">
                        <a href="#hover_effect_btn" data-hover="view more post"><span>view more post</span></a>
                    </div>
                </div>
            *@
        </div>
    </div>
</section>
<!-- End Latest post Section -->
<!-- start our teastimonial Section -->
<section id="tstm_sec" style="padding:120px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all_tstm">
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>what people say?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- jhon deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Clien Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- shura deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Awesome Support KCell Solutions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- kumara deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Theme Feature great</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- dhera deo</h6>
                        </div>
                    </div>
                    <div class="clnt_tstm">
                        <div class="sngl_tstm">
                            <i class="fa fa-quote-right"></i>
                            <h3>Non conflict</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sequi accusamus voluptatum rem itaque alias deleniti nostrum aperiam fugiat voluptates debitis praesentium incidunt accusantium distinctio,</p>
                            <h6>- jhon deo</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End our teastimonial Section -->

<section id="abt_sec" style="padding:120px 0;">
    @*<style type="text/css">
            #abt_sec {
                padding: 120px 0;
            }
        </style>
    *@
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>@Localizer["About"]</h1>
                    <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="abt">
                    <p>The main value of Kcell Solutions is our team. Working with us, you should have an excellent opportunity to improve yourself professionally and grow up the career ladder.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- start Counting section-->
<section id="counting_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                    <i class="fa fa-user"></i>
                    <h2 class="counter">43,753</h2>
                    <h4>Happy Clients</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                    <i class="fa fa-desktop"></i>
                    <h2 class="counter">20,210</h2>
                    <h4>Complete Project</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                    <i class="fa fa-ticket"></i>
                    <h2 class="counter">43,753</h2>
                    <h4>Answered Tickets</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                    <i class="fa fa-clock-o"></i>
                    <h2 class="counter">45,105</h2>
                    <h4>Development Hours</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- start portfolio Section -->
<section id="protfolio_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>@Localizer["Our_portfolio"]</h1>
                    <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="portfolio-filter text-uppercase text-center">
                    <ul class="filter">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".web-design">Web Design</li>
                        <li data-filter=".graphic">Graphic</li>
                        <li data-filter=".photography">Photography</li>
                        <li data-filter=".motion-video">Motion video</li>
                    </ul>
                </div>
                <div class="all-portfolios">
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_06.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_01.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_02.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio graphic">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_03.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_04.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio photography">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_05.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_07.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio photography">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio web-design">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_09.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                        <div class="single-portfolio photography">
                            <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="post_btn">
                <div class="hover_effect_btn" id="hover_effect_btn">
                    <a href="#hover_effect_btn" data-hover="view more post"><span>view more post</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->
