@{
    ViewData["Title"] = "KCell Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@using Microsoft.AspNetCore.Mvc.Localization

@{
    var culture = Context.Features.Get<IRequestCultureFeature>
        ().RequestCulture.Culture.TwoLetterISOLanguageName;
}

@using Microsoft.AspNetCore.Routing.Constraints;

@inject IViewLocalizer Localizer
<!-- HOME -->
<section id="home" class="padbot0">
    <!-- TOP SLIDER -->
    <div class="flexslider top_slider">
        <ul class="slides">
            <li class="slide1">
                <div class="flex_caption1">
                    <p class="title1 captionDelay2 FromTop">Компания </p>
                    <p class="title2 captionDelay4 FromTop">Kcell </p>
                    <p class="title3 captionDelay6 FromTop">Solutions </p>
                    <p class="title4 captionDelay7 FromBottom">Помогаем нашим клиентам достигать больших результатов с помощью IT систем.</p>
                </div>
                <a class="slide_btn FromRight" href="javascript:void(0);">Подробнее</a>
            <li class="slide2">
                <div class="flex_caption1">
                    <p class="title1 captionDelay6 FromLeft">Компания </p>
                    <p class="title2 captionDelay4 FromLeft">IT </p>
                    <p class="title3 captionDelay2 FromLeft">Партнер </p>
                    <p class="title4 captionDelay7 FromLeft">Мы поставляем программное обеспечение от мировых производителей и лидеров в своей сфере</p>
                </div>
                <a class="slide_btn FromRight" href="javascript:void(0);">Read More</a>
            </li>
        </ul>
        <!-- VIDEO BACKGROUND -->
        <a name="P2" class="player" id="P2" data-property="{videoURL:'HDOjxwjqCxI',containment:'.top_slider',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>
        <!-- //VIDEO BACKGROUND -->
    </div><!-- //TOP SLIDER -->
</section><!-- //HOME -->
<!-- ABOUT -->
<section id="about">
    <div class="row row-space-1 margin-b-2 wow fadeInDown animated" style="visibility:visible; animation-name: fadeInDown;">
        <h3 class="color-red" style="text-align: center;">Welcome to KCell Solutions</h3>
        <hr style="margin-top:0;" />
        <div class="col-sm-10 col-sm-offset-1">
            <p class="margin-b-40 text-center wow fadeInDown animated fweight-400" style="visibility:visible; animation-name: fadeInDown;text-align:center;font-size:16px;">
                Kcell Solutions предлагает прагматичные  IT решения для вашего бизнеса в сфере поставок программного обеспечения, управления транспортными парками, и организации массовых sms рассылкок.
            </p>
        </div>
    </div>
</section><!-- //ABOUT -->
<!-- ABOUT -->
<section id="about">
    <!-- SERVICES -->
    <div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30" style="text-align: center;">
                    <a asp-area="" asp-action="Software" asp-route-culture="@culture">
                        <i class="fa fa-laptop service-icon-home"></i><h3>@Localizer["Software"]</h3>
                        <p>Мы поставляем ПО от международных лидеров рынка в сегменте продуктивности, а таже защиты данных</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30" style="text-align: center;">
                    <a asp-area="" asp-action="Car_Tracking" asp-route-culture="@culture">
                        <i class="fa fa-search service-icon-home"></i><h3>@Localizer["Car_Tracking"]</h3>
                        <p>Наши системы трекинга автотранспорта применяют самые высокоточные системы.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30" style="text-align: center;">
                    <a asp-area="" asp-action="SMS_Dispatching" asp-route-culture="@culture">
                        <i class="fa fa-envelope service-icon-home"></i><h3>@Localizer["SMS_Dispatching"]</h3>
                        <p>Мы предлагаем надежный и быстрый сервис SMS рассылок по самым выгодным условиям</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                </div>
            </div><!-- //ROW -->
        </div><!-- //CONTAINER -->
    </div><!-- //SERVICES -->
    <!-- CLEAN CODE -->
    <div class="cleancode_block">
        <!-- CONTAINER -->
        <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
            <!-- CASTOM TAB -->
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active clearfix" id="tab1">
                    <p class="title"><b>Скорость</b> Внедрения</p>
                    <span>Мы стараемся сделать очень качественный продукт, поэтому наш сервис очень аккуратный и чистый. Независимо от выбора Вы можете дополнить или изменить план по своему вкусу..</span>
                </div>
                <div class="tab-pane fade clearfix" id="tab2">
                    <p class="title"><b>Постоянная</b> Поддержка</p>
                    <span>Мы работаем постоянно и безотказно помогаем нашим клиентам решать сложности возникающие в ходе их работы</span>
                </div>
                <div class="tab-pane fade clearfix" id="tab3">
                    <p class="title"><b>Любые платформы</b></p>
                    <span>Наши системы работают на любых устройствах и на любой операционной системе. Вам не придется подстраиваться под IT продукты</span>
                </div>
                <div class="tab-pane fade clearfix" id="tab4">
                    <p class="title"><b>Четкая документация</b></p>
                    <span>Мы имеем четкую описанную документацию по любому продукту программного или аппаратному, так что любой заказчик легко поймет принципы работы наших систем</span>
                </div>
                <div class="tab-pane fade clearfix" id="tab5">
                    <p class="title"><b>Качество</b></p>
                    <span>Мы выполняем свою работу в сроки и качественно, мы стремимся максимально быстро решать Ваши бизнес проблемы.</span>
                </div>
            </div>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a class="i1" href="#tab1" data-toggle="tab"><i class="fa fa-cog service-icon-tabs"></i><span>Скорость внедрения</span></a></li>
                <li><a class="i2" href="#tab2" data-toggle="tab"><i></i><span>Постоянная поддержка</span></a></li>
                <li><a class="i3" href="#tab3" data-toggle="tab"><i></i><span>Любые устройства</span></a></li>
                <li><a class="i4" href="#tab4" data-toggle="tab"><i></i><span>Документация</span></a></li>
                <li><a class="i5" href="#tab5" data-toggle="tab"><i></i><span>Качество</span></a></li>
            </ul><!-- CASTOM TAB -->
        </div><!-- //CONTAINER -->
    </div><!-- //CLEAN CODE -->
    @*
        <!-- MULTI PURPOSE -->
        <div class="purpose_block">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
                        <h2><b>Официальные</b> Поставки ПО</h2>
                        <p>IT решения от ведущих мировых компании-разработчиков софта. Kcell Solutions предлагает прагматичные  IT решения для вашего бизнеса в сфере поставок программного обеспечения, управления транспортными парками, и организации массовых sms рассылкок.</p>
                        <p>Поставка облачных программ и годовых лицензии.  Все цены включают НДС 12%. Программы от Microsoft, Mcafee, Autodesk, Adobe, Google, Acronis и др</p>
                        <a class="btn btn-active" href="javascript:void(0);"><span data-hover="Позвонить">Купить</span></a>
                        <a class="btn" href="javascript:void(0);">Галерея продуктов</a>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
                        <img class="ipad_img1" src="~/images/img1.png" alt="" />
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </div><!-- //MULTI PURPOSE -->
    *@
</section><!-- //ABOUT -->
@*
    <!-- ABOUT -->
    <section id="about">
*@
<!-- PROJECTS -->
<section id="projects" class="padbot20">
    <!-- CONTAINER -->
    <div class="container">
        <h2><b>@Localizer["Our_projects"]</b></h2>
    </div><!-- //CONTAINER -->

    <div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
        <!-- PROJECTS SLIDER -->
        <div class="owl-demo owl-carousel projects_slider">
            <!-- work1 -->
            <div class="item">
                <div class="work_item">
                    <div class="work_img">
                        <img src="~/images/works/1.jpg" alt="" />
                        <a class="zoom" href="~/images/works/1.jpg" rel="prettyPhoto[portfolio1]"></a>
                    </div>
                    <div class="work_description">
                        <div class="work_descr_cont">
                            <a href="portfolio-post.html">Ginger Beast</a>
                            <span>17 March, 2041</span>
                        </div>
                    </div>
                </div>
            </div><!-- //work1 -->
            <!-- work2 -->
            <div class="item">
                <div class="work_item">
                    <div class="work_img">
                        <img src="~/images/works/2.jpg" alt="" />
                        <a class="zoom" href="~/images/works/2.jpg" rel="prettyPhoto[portfolio1]"></a>
                    </div>
                    <div class="work_description">
                        <div class="work_descr_cont">
                            <a href="portfolio-post.html">Ginger Beast</a>
                            <span>17 March, 2041</span>
                        </div>
                    </div>
                </div>
            </div><!-- //work2 -->
            <!-- work3 -->
            <div class="item">
                <div class="work_item">
                    <div class="work_img">
                        <img src="~/images/works/3.jpg" alt="" />
                        <a class="zoom" href="~/images/works/3.jpg" rel="prettyPhoto[portfolio1]"></a>
                    </div>
                    <div class="work_description">
                        <div class="work_descr_cont">
                            <a href="portfolio-post.html">Ginger Beast</a>
                            <span>17 March, 2041</span>
                        </div>
                    </div>
                </div>
            </div><!-- //work3 -->
            <!-- work4 -->
            <div class="item">
                <div class="work_item">
                    <div class="work_img">
                        <img src="~/images/works/4.jpg" alt="" />
                        <a class="zoom" href="~/images/works/4.jpg" rel="prettyPhoto[portfolio1]"></a>
                    </div>
                    <div class="work_description">
                        <div class="work_descr_cont">
                            <a href="portfolio-post.html">Ginger Beast</a>
                            <span>17 March, 2041</span>
                        </div>
                    </div>
                </div>
            </div><!-- //work4 -->
            <!-- work5 -->
            <div class="item">
                <div class="work_item">
                    <div class="work_img">
                        <img src="~/images/works/5.jpg" alt="" />
                        <a class="zoom" href="~/images/works/5.jpg" rel="prettyPhoto[portfolio1]"></a>
                    </div>
                    <div class="work_description">
                        <div class="work_descr_cont">
                            <a href="portfolio-post.html">Ginger Beast</a>
                            <span>17 March, 2041</span>
                        </div>
                    </div>
                </div>
            </div><!-- //work5 -->
            <!-- work6 -->
            <div class="item">
                <div class="work_item">
                    <div class="work_img">
                        <img src="~/images/works/6.jpg" alt="" />
                        <a class="zoom" href="~/images/works/6.jpg" rel="prettyPhoto[portfolio1]"></a>
                    </div>
                    <div class="work_description">
                        <div class="work_descr_cont">
                            <a href="portfolio-post.html">Ginger Beast</a>
                            <span>17 March, 2041</span>
                        </div>
                    </div>
                </div>
            </div><!-- //work6 -->
            <!-- work7 -->
            <div class="item">
                <div class="work_item">
                    <div class="work_img">
                        <img src="~/images/works/7.jpg" alt="" />
                        <a class="zoom" href="~/images/works/7.jpg" rel="prettyPhoto[portfolio1]"></a>
                    </div>
                    <div class="work_description">
                        <div class="work_descr_cont">
                            <a href="portfolio-post.html">Ginger Beast</a>
                            <span>17 March, 2041</span>
                        </div>
                    </div>
                </div>
            </div><!-- //work7 -->
        </div><!-- //PROJECTS SLIDER -->
    </div>

    <!-- OUR CLIENTS -->
    <div class="our_clients">
        <!-- CONTAINER -->
        <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
            <h2><b>@Localizer["Our_partners"]</b></h2>
            <!-- ROW -->
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                    <img src="~/images/clients/1.jpg" alt="" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                    <img src="~/images/clients/2.jpg" alt="" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                    <img src="~/images/clients/3.jpg" alt="" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                    <img src="~/images/clients/4.jpg" alt="" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                    <img src="~/images/clients/5.jpg" alt="" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                    <img src="~/images/clients/6.jpg" alt="" />
                </div>
            </div><!-- //ROW -->
        </div><!-- CONTAINER -->
    </div><!-- //OUR CLIENTS -->
</section><!-- //PROJECTS -->
@*
    </section><!-- //ABOUT -->
*@
